body {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* global styles */
  
  .btm-md-clr { padding: 25px 0; }

  .text-light { color: var(--ff-color) !important; }
  .text-dark { color:var(--main-color) !important; }
  .text-shadow-dark { text-shadow: 2px 2px 15px var(--main-color); }
  .text-shadow-light { text-shadow: 2px 2px 15px var(--ff-color); }

  /* header */
  
  header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(../images/plane.jpg) no-repeat center center /cover;}
  
  /* navbar */
  .nav-menu {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    padding: 30px;
    transition: all .7s;
  }
  
  .menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
  }
  
  .menu-item:hover {
    color: #70aed2;
  }
  
  .nav-active {
    color: #70aed2;
  }
  
  .line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
  }
  
  .change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .change .line2 {
    opacity: 0;
  }
  
  .change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .custom-navbar {
    padding: 5px 30px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
  }
  /* end of navbar */

  /* flight selection form */
  .calendar-box {
      width: 60%;
      background: rgb(255,255,255,0.5);
      border-radius: 5px;
      padding: 25px;
      margin: 25px auto;
      color: var(--main-color);
  }

  .select-bar {
     transform: none;
     width: 100%;
     height: 2.5rem;
     border: 2px solid var(--main-color);
     border-radius: 5px;
     text-align: center;
     font-weight: 700;
  }
  
  .button { 
	  text-transform: none;
    background: var(--main-color);
    color: var(--ff-color);
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    font-weight: bold;
  }

  /* table */

  .table-dark {
    color: #fff;
    background-color: var(--main-color) !important;
}

  