/* global section */
/* navbar */
.text-info, .text-primary {
  color: #D4AA00;
}

.svg-inline--fa {
  font-size: inherit;
  color: #000080;
}

.nav-logo {
  max-width: 6rem;
  height: auto;
}

.nav-menu {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.5));
  padding: 15px 30px;
  transition: all .7s;
}

.nav-active {
  color: #000080 !important;
}

.nav-active:hover {
  color: #D4AA00 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #000080;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #000080;
  transition: color .5s;
}

.btn-secondary {
  color: #fff;
  background-color: #000080;
  border: none;
}

/* banner */
header {
  height: 100vh;
  background: #fff url(../images/samolot.svg) no-repeat center center/cover;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.banner-heading {
  animation-name: anim;
  animation-duration: 2s;
}

.banner-par {
  animation-name: anim;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: backwards;
}

@keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* end of banner */
/* end of header */
/* mission */
.mission {
  background: #000080;
}

.white-bg {
  background: #fff;
  color: #000080 !important;
}

.text-danger {
  color: #D4AA00 !important;
}

.underline {
  width: 150px;
  border: 3px solid #D4AA00;
  margin: auto;
}

.fromLeft {
  animation-name: fromLeft;
  animation-duration: 3s;
}

.fromRight {
  animation-name: fromRight;
  animation-duration: 3s;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* end of mission */
/* collection */
.card-shadow {
  box-shadow: 5px 8px 20px #444;
}

.heading {
  position: absolute;
  top: 70%;
  right: 0;
  font-size: 14px;
  letter-spacing: 1px;
  background: #222;
  width: 70%;
  cursor: pointer;
  opacity: .7;
  transition: all .5s;
}

.heading:hover {
  opacity: 1;
}

/* end of collection */
/* customers */
.customers {
  background: #000080;
  color: #fff;
}

/* end of customers */
/* footer section */
.bg-dark {
  background: #000080 !important;
  color: #fff !important;
}
